:root {
  --light: rgb(202, 202, 202);
  --light-alt: #61759b;
  --dark: #772f40;
  --dark-alt: #3C121C;
  --bg-color: #3C121C;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
  color: var(--light);
  font-size: 1rem;
}

h1 {
  font-size: 1.5rem;
  margin: .5rem 1rem 1rem 1rem;
}

.addTodoFloatingBtn {
	position: fixed;
	bottom: 25px;
	right: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	font-size: 28px;
	font-weight: 900;
  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
	cursor: pointer;
	transition: all 0.7s;
}

.todos {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.todo {
  position: relative;
  background-color: var(--dark);
  padding: 16px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  margin-bottom: 16px;
  max-width: 600px;
  width: 100%;
}

.todo .checkbox {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: var(--dark-alt);
  cursor: pointer;
  transition: all 0.4s;
}

.todo > div:first-child {
  display: flex;
}

.todo .text {
  cursor: pointer;
  transition: all 0.4s;
  text-decoration: line-through;
  text-decoration-color: transparent;
}

.todo.isComplete .checkbox {
  background-color: var(--light-alt);
  transition: all 0.4s;
}

.todo.isComplete .text {
  text-decoration-color: var(--light);
  transition: all 0.4s;
}

.editTodoBtn {
  cursor: pointer;
}

.deleteTodoBtn {
  cursor: pointer;
}

.todoIcons {
  display: flex;
  gap: 1rem;
}

.addTodoFloatingBtn:hover {
	transform: rotate(90deg);
	transition: all 0.4s;
}

.todoModal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.todoModal > div {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	border-radius: 5px;
  gap: .75rem;
	background-color: var(--dark);
}

.closePopup {
  cursor: pointer;
  position: absolute;
  top: 7.5px;
  right: 7.5px;
}

.todoInputModal {
  appearance: none;
  outline: none;
  border: none;
  background-color: var(--dark-alt);
  color: var(--light);
  padding: 16px;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.todoInputModal::placeholder {
  color: var(--light);
}

.todoModalBtn {
  background-color: grey;
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: .25rem;
  cursor: pointer;
}